<lg-card>
  <div style="display: grid; grid-template-columns: 50% 50%">
    <div lgMarginRight="xl">
      <button lg-button
        lgMarginBottom="xxs"
        variant="primary"
        (click)="add()"
        >Add</button>
      <ng-container *ngFor="let component of components">
        <app-random-numbers
          (removeComponent)="remove($event)"
          [componentId]="component.componentId"
        ></app-random-numbers>
      </ng-container>
    </div>
    <div>
      <app-notifications></app-notifications>
    </div>
  </div>
</lg-card>
